.menu-icon{
    color: #800080f7;
    font-size: 50px;
    margin: 20px;
    z-index: 2;
    cursor: pointer;
}
.show-header{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(88, 51, 173, 0.92);
    height: 40vh;
    width: 30%;
    border-bottom-left-radius: 60%;
    transition: all 0.5s;
    overflow: hidden;
    z-index: 2;
}
.hide-header{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 0;
    width: 0;
    transition: all 0.5s;
}
ul li{
    color: white;
    list-style: none;
    margin-top: 20px;

}
ul a{
    color: white;
    text-decoration: none;
}
.active{
    border: 3px solid cyan;
    padding: 5px;
    border-radius: 10px;
}
.active a{
    color: cyan;
    font-weight: bold;
}
input , textarea{
    margin-top: 25px;
    border: none !important;
    border-radius: 20px !important;
    box-shadow:  8px 8px 0px #618186,
             -8px -8px 0px #b1e9f4 !important;
}
.form-control:focus{
    transform: scale(1.02);
}
.form-control{
    box-shadow: none;
}
.contact{
    padding-top: 50px;
}
.contact button{
    background-color: #800080f7;
    color: white;
    font-weight: bold;

}
.footer-content{
    background-color: #0b052a;
    text-align: center;
    color: white;
}
.footer-icons{
    color: white !important;
    height: 25px;
    width: 25px;
}
   
.footer-icons:hover{
    color: #07a9c9;
    transform: scale(1.2);
    cursor: pointer;
}
@media(max-width:750px) {
    .show-header{
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(#800080f7);
        height: 100vh;
        width: 100%;
        overflow: hidden;
        transition: width 0.5s;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        border-left: 2px solid rgba(255, 255, 255, 0.242);
        z-index: 2;
    }
    .hide-header{
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        overflow: hidden;
        height: 0;
        width: 0;
        transition: all 0s;
    }
    .menu-icon{
        color: #800080f7;
        font-size: 40px;
    }
    .contact{
        margin-top: 0;
    }
}